.universidades{
  flex: 4;
}

.seletorAnos{
  height: 50;
  line-height: 60px;
  width: 100%;
  min-width: fit-content;
}

.painel {
  height: 300px;
  padding: 20px;
}

.painelGrafico {
  /* height: 300px; */
  /* padding: 20px */
}

.container {
  width: 100%
}

.paperAutocomplete {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumbs {
  margin-bottom: 20px !important;
}