.main-container {
  min-height: max-content;
  max-width: 1630px !important;
  margin: 40px
}
.painel {
  border-radius: 15px;
  min-height: max-content;
}

.painel-grafico-painel-comparativo {
  min-height: 350px;
  height: max-content;
  width: 100%;
}

.header-painel-painel-comparativo {
  background-color: #1976d2;
  min-height: 40px;
  max-height: max-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: whitesmoke;
  padding: 5px;
}

.titulo-header-painel-painel-comparativo {
  padding: 6px 8px 8px 10px;
  padding-left: 10px;
  float: left
}

.painelAnos {
  height: 20%;
  width: 100%;
  padding: 15px;
}

.painelDetalhes {
  height: 360px;
}

.seletorAnos{
  margin: 17px;
  height: 50;
  line-height: 60px;
  width: 100%;
  min-width: fit-content;
}

.box-loading-grafico {
  padding-left: 50%;
  padding-top: 20%;
}

.box-grafico-vazio {
  height: 50px; 
  color: grey;
  text-align: center;
  margin-top: 12%;
}

.subtitulo-painel-painel-comparativo {
  padding-top: 10px;
}