.universidades{
    flex: 4;
}

.seletor-anos-universidades{
    height: 50;
    line-height: 60px;
    width: 100%;
    min-width: fit-content;
}

.box-seletor-anos-universidades {
    width: min-content;
    margin-left: 20px
}

.box-grafico-grande-vazio-universidades {
    height: 350px;
    width: 1104px;
    color: grey
}

.texto-grafico-grande-vazio-universidades {
    text-align: center;
    padding-top: 15%;
}

.painel-grafico-pequeno-universidades {
    min-height: 350px;
    overflow: auto;
}
.painel-lista-emendas-universidades {
    height: 300px;
}

.painel-grafico-grande-universidades {
    margin-bottom: 0px !important;
}

.container-tela-universidades {
    max-width: max-content !important;
    margin-top: 30px;
    width: 100%
}

.header-painel-grafico-grande-universidades {
    min-height: max-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: whitesmoke;
    background-color: #1976d2 ;
    margin-bottom: 10px;
    padding: 15px;
}

.header-painel-grafico-universidades {
    min-height: max-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: whitesmoke;
    background-color: #1976d2 ;
    margin-bottom: 10px;
    padding: 15px;
}