.universidades{
    flex: 4;
}

.seletorAnos{
    height: 50;
    line-height: 60px;
    width: fit-content;
    min-width: 90px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px
}
.containerAnos > :nth-child(n+8){
    margin-right: 0 !important
}