.box-tabela-vazia {
    display: block;
    color: grey;
    text-align: center;
    max-height: 379px;
    padding: 189px 0 189px 0;
}

.table-container-tabela-emendas-parlamentar {
    overflow: auto;
    max-height: 379px
}