.box-tabela-emendas-vazia-parlamentar {
    display: block;
    color: grey;
    text-align: center;
    max-height: 379px;
    padding: 170px 0 170px 0;
}

.table-container-tabela-emendas-parlamentar {
    overflow: auto;
    min-height: 350px;
    max-height: 540px;
}