.home{
    flex: 4;
}

.breadcrumbs {
    margin-bottom: 20px !important;
}
.container {
    width: 100%
}

.homeWidgets {
    display: flex;
    margin: 20px;
}

.botao-telas-home {
    height: 100px;
    padding: 40px;
}

.botao-telas-home :hover{
}

.paper-botao-telas-home {
    
}

.paper-botao-telas-home :hover{
}

.painel-grafico-pequeno-home {
    min-height: 350px;
    margin-bottom: 10px;
    height: max-content;
    width: 100%;
}