.container-grafico-emendas-natureza-despesa {
    width: max-content;
    height: max-content;
    padding-left: 0;
    display: inline-block;
    overflow: auto
}

.grafico-emendas-natureza-despesa {
    height: 450px;
    width: 430px
}