.container-grafico-partido {
    width: max-content;
    height: max-content;
    padding-left: 0;
    display: inline-block;
}

.grafico-emendas-partido {
    height: 350px;
    width: 430px
}

.titulo-grafico {
    text-align: center;
    padding: 20px
}

.box-grafico-partido-vazio {
    display: block;
    color: grey;
    text-align: center;
    max-height: 379px;
    padding: 80px 0 50px 0;
}