#box-seletor-anos-painel-detalhes {
    display: inline-block;
    float: left
}

#box-graficos-painel-detalhes {
    display: block;
    padding-left: 10px;
    width: max-content;
    float: left;
}

#box-cards-painel-detalhes {
    display: inline-block;
    margin-top: 8px;
    margin-left: 20px;
}

#tabela-painel-detalhes {
    width: 100%; 
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}