.paper-painel {
    height: max-content;
}

.painelCriacao {
    background-color: gray !important; 
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 360px;
}

.header-painel {
    background-color: #1976d2;
    min-height: 40px;
    max-height: max-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: whitesmoke;
    padding: 5px;
}

.conteudo-painel {
    height: max-content;
    padding: 20px;
}