.application {
    height: 100%;
    width: 100% !important; 
    max-width: 1350px !important;
    
}

body {
    background-color: #f7f7f7;
}

.container-application{
    display: flex;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: inherit;
}

.link-breadcrumbs {
    cursor: pointer;
  }