.app {
    height: 100%;
    width: 100% !important; 
    max-width: 1350px !important;
}

.container{
    display: flex;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: inherit;
}