.application {
    height: 100%;
    width: 100% !important; 
    max-width: 1350px !important;
    
}

body {
    background-color: #f7f7f7;
}

.breadcrumbs {
    margin-top: 20px !important;
}

.container-application{
    display: flex;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: inherit;
}

.link-breadcrumbs {
    cursor: pointer;
}

.carregando-pagina-app {
    display: block;
    color: grey;
    text-align: center;
    max-height: 379px;
    padding: 189px 0 189px 0;
}