.parlamentares{
    flex: 4;
}

.seletor-anos-parlamentares{
    height: 50;
    line-height: 60px;
    width: 100%;
    min-width: fit-content;
}

.box-seletor-parlamentares {
    margin-top: 15px;
}

.box-grafico-grande-vazio-parlamentares {
    height: 350px;
    width: 1104px;
    color: grey
}

.texto-grafico-grande-vazio-parlamentares {
    text-align: center;
    padding-top: 15%;
}

.painel-grafico-pequeno-parlamentares {
    min-height: 350px;
    padding: 20px 0px 20px 20px;
    overflow: auto;
}

.painel-lista-emendas-parlamentares {
    height: max-content
}

.box-lista-emendas-parlamentares {
    min-height: 300px;
    height: fit-content;
    padding: 0px 20px 20px 20px;
}

.painel-grafico-grande-parlamentares {
    margin-bottom: 0px !important;
}

.box-lista-vazia {
    display: block;
    color: grey;
    text-align: center;
    padding: 130px;
}

.container-tela-parlamentares {
    max-width: max-content !important;
    margin-top: 30px;
    width: 100%
}

.header-painel-lista-emendas-parlamentares {
    min-height: max-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: whitesmoke;
    background-color: #1976d2 ;
    margin-bottom: 10px;
    padding: 15px;
}